$color: gold;

body {
	font-family: Georgia;
}

.month{
	display: "none";
}
.day{
	display: "block";
}
.week{
	display:"none";
	display:flex;
	flex-direction: row;
	.row {
		display: flex;
		flex-direction: row;
		text-align: center;
	}
	.row1 {
	  display: flex;
	  flex-direction: row;
	  height: 25px;
	  text-align: center;
	}

	.column {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	  	padding: 10px;
	  	width: 14%;
	  	height: 500px;
	}
}
#options{
	padding: 5px;
  	height: 60px;
  	margin-bottom: 20px;
  	background-color: $color;
  	#date{
	  	align: center;
	  	font-size: 18px;
  	}
  	.date-wrapper {
  	    display: flex;
    	justify-content: center;
  	}
}
.time-wrap {
	height : 40px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 15px;
	border-left: 1px solid #ccc;
	}

.time-wrapper {
	display:flex;
	flex-flow:row wrap;
	border-bottom: 1px solid #ccc;
	.time{
	width: 43px;
	}
}
.slot-wrapper {
	background-color: #ccc;
	height : 15x;
	width : 500px;
	margin: 5px;
	font-size: 10px;
}
#button {
    position:fixed;
    right: 10px;
    bottom: 10px;
    background-color: transparent;
	border: none;
	font-size: 30px;
	border-radius: 50%;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 30px 30px;
	cursor: pointer;
	#add{
	height: 50px;
	width: 50px;
	}
}
.slot {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	.content {
		display: flex;
		justify-content: center;
		border-radius: 20px;
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
	}
	.close {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	.close:hover,
		.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
}
}

#addslot{
	form {
		.error {
			color: red;
		}
		.form-element {
			margin-top: 20px;

			label {
				display: block;
			}

			input {
				width: 100%;
			}
			.form_buttons{
				display:flex;
				flex-direction: column;
				#Dbutton{
				margin-left: 45px;
				background-color: #f44336;
				color: white;
				margin-top: 5px;
				width : 100px;
				}
				#Cancel{
				margin-left: 45px;
				background-color: #ccc;
				margin-top: 5px;
				width : 100px;
				}
			}
		}
	}
}
.slot-col1 {
	background-color: #ccc;
	margin-top : 40px;
	padding: 10px;
	font-size: 12px;
}